#container{
    border: 2px solid yellow;
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
header{
    background: blue;
    height: 100px;  
    border: 1px solid;
    color: white;
    font-weight: bolder;
}

p{
    margin: 0;
}
nav{
    background: blue;
    height: 30px;
    border: 1px solid;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
section{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    background: whitesmoke;
    height: 100px;
    border: 1px solid;
}
.a{
    /* float: left; */
    width: 458px;
    height: 250px;
    background: whitesmoke;
    border: 1px solid;   
}

.b{
    /* float: left; */
    width: 458px;
    height: 250px;
    background: whitesmoke;
    border: 1px solid;
}
.c{
    /* float: left; */
    width: 458px;
    height: 250px;
    background: whitesmoke;
    border: 1px solid;
}
.d{
    /* float: left; */
    width: 458px;
    height: 250px;
    background: whitesmoke;
    border: 1px solid;
}
/* .clear{
    clear: both; */

#cont{
    max-width: 960px;
    margin: 0 auto;
    
}

button.send {
    display: block;
    width: 150px;
    border: 1px solid darkgrey;
    min-height: 40px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #ea00ff;
}
@media screen and (max-width: 1050px){
    #container{width: 750px; }
    .a, .b, .c, .d{ width: 355 px; }
}
@media screen and (max-width: 780px){
    #container{width: 550px; }
    .a, .b, .c, .d{ width: 255 px; }
}
@media screen and (max-width: 580px){
    #container{width: 100%; }
    .a, .b, .c, .d{ width: 100% px; height: 125px;}
}
@media screen and (max-width: 1170px){
    body:before{ background: lightblue; content: "< 1170px";
    position: absolute; color: indianred; padding: 2px; font-size: 12px}
}
@media screen and (max-width: 960px){
    body:before{ background: #91d6ec; content: "< 960px";
    position: absolute; color: #d13e3e; padding: 2px; font-size: 12px}
}
@media screen and (max-width: 750px){
    body:before{ background: #1a3138; content: "< 750px";
    position: absolute; color: #351616; padding: 2px; font-size: 10px}
}
@media screen and (max-width: 670px){
    body:before{ background: #0a2027; content: "< 670px";
    position: absolute; color: #be8888; padding: 2px; font-size: 10px}
}
@media screen and (max-width: 470px){
    body:before{ background: rgb(3, 64, 85); content: "< 470px";
    position: absolute; color: #d1b3b3; padding: 2px; font-size: 8px}
}
